{% extends 'base_template.html' %}

{% block title %}
  Sleep Details
{% endblock title %}


{% block body_head %}
  
<table class='table table-striped text-center'>
    <tr>
      <th> Date </th>
      <th>{{ sleep_detail.your_date|date:"d-M-Y, l" }}</th>
    </tr>
    
    <tr>
      <td> Yesterday's Sleep Time </td>
      <td> {{ sleep_detail.sleep_at|date:"h:i A" }} </td>
    </tr>

    <tr>
      <td> Wakeup Time  </td>
      <td> {{ sleep_detail.arise_at|date:"h:i A"  }}</td>
    </tr>
   
    <!--SPECIAL CASE-->
    {% if sleep_detail.noon_sleep %}

    <tr>
      <td>Noon Sleep  </td>
      <td> {{ sleep_detail.noon_sleep_at|date:"h:i A" }}</td>
    </tr>

    <tr>
      <td>Noon Wakeup </td>
      <td> {{ sleep_detail.noon_arise_at|date:"h:i A" }}</td>
    </tr>
    
    {% endif %}

  </table>

  <a href="{% url 'sleep_edit' sleep_detail.id %}" class="btn btn-warning">
    Edit
  </a>

  <a href="{% url 'sleep_list' %}" class="btn btn-secondary">
    Back To Home
  </a>

{% endblock body_head %}

