{% extends 'base_template.html' %}


{% block title%}
  Update View
{% endblock %}

{% block body_head %}

  <h1 class='bg-dark text-light'>Update Your Sleep</h1>

  <div class='table-responsive'>
    <table class='table table-hover'>

      <form action='' method='post' class='form'>
        {% csrf_token %}

          <tr class='bg-warning'>
            <th>
              Date 
            </th>
            <td>
              {{ form.your_date }}
            </td>
          </tr>
          
          <tr> 
            <th>
              Yesterday's Sleep 
            </th>
            <td>
              {{ form.sleep_at_hour }}{{ form.sleep_at_minute }}{{ form.sleep_at_interval }} 
            </td>
          </tr>
          
          <tr>
            <th>
              Today's Wakeup
            </th>
            <td>
              {{ form.arise_at_hour }}{{ form.arise_at_minute }}{{ form.arise_at_interval }} 
            </td>
          </tr>
          
          <tr>
            <th>
              Noon Sleep 
            </th>
            <td>
              {{ form.noon_sleep_at_hour }}{{ form.noon_sleep_at_minute }}{{ form.noon_sleep_at_interval }} 
            </td>
          </tr>
          
          <tr>
            <th>
              Noon Wakeup 
            </th>
            <td>
              {{ form.noon_arise_at_hour }}{{ form.noon_arise_at_minute }}{{ form.noon_arise_at_interval }} 
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <input type='submit' value='Submit' class="btn btn-primary my-4">
            </td>
          </tr>

      </form>
    </table>
  </div>

{% endblock body_head %}

{% block middle %}
{% endblock middle %}



