{% extends 'base_template.html' %}


{% block title%}
  Create View
{% endblock %}

{% block body_head %}

  <h1 class='bg-dark text-light'>Measure Your Sleep</h1>

  <div class='table-responsive'>
    <table class='table table-hover'>

      <form action='' method='post'>
        {% csrf_token %}

          <tr>
            <th>
              Date 
            </th>
            <td>
              {{ form.your_date }}
            </td>
          </tr>
          
          <tr class='bg-warning'>
            <th>
              Yesterday's Sleep 
            </th>
            <td>
              {{ form.sleep_at_hour }}{{ form.sleep_at_minute }}{{ form.sleep_at_interval }} 
            </td>
          </tr>
          
          <tr>
            <th>
              <label for="id_arise_at">Today's Wakeup </label>
            </th>
            <td>
              {{ form.arise_at_hour }}{{ form.arise_at_minute }}{{ form.arise_at_interval }} 
            </td>
          </tr>
          
          <tr>
            <th>
              Noon Sleep 
            </th>
            <td>
              {{ form.noon_sleep_at_hour }}{{ form.noon_sleep_at_minute }}{{ form.noon_sleep_at_interval }} 
            </td>
          </tr>
          
          <tr>
            <th>
              Noon Wakeup 
            </th>
            <td>
              {{ form.noon_arise_at_hour }}{{ form.noon_arise_at_minute }}{{ form.noon_arise_at_interval }} 
            </td>
          </tr>

          <tr>
            <td>
              <input type='submit' value='Submit' class="btn btn-primary my-4">
            </td>
          </tr>

      </form>
    </table>
  </div>

{% endblock body_head %}

{% block body_middle %}
      <div class="col-md-5 mb-3">
      </div>
{% endblock body_middle %}



