<!DOCTYPE html>
<html>
  <head>
      {% load static %}
      
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1, shrink-to-fit=no">

      <!--Bootstrap-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'base_cascade.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title> 
      {% block title %}
        Welcome
      {% endblock %}
    </title>
  
  </head>

  <body>
    
    <!--HEADER OF SITE-->
    <header>
      <div class="bg-dark collapse" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About Me</h4>
              <p class="text-muted">Hi this is Shubhanshu,I am a Computer Programmer who passionate about the programming languages and automate things with computer,so the humans like us keep chilling.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container-fluid d-flex justify-content-between">
          <strong>
            <a class="navbar-brand d-flex align-items-center" href="{% url 'sleep_list' %}"> Home </a>
          </strong>
          
          <div class="col-4 d-flex justify-content-end align-items-center">
			{% if user.is_authenticated %}
		      <a class="btn btn-outline-warning align-items-center" href="{% url 'logout' %}">
                Logout
              </a> &nbsp;
            {% else %}
		      <a class="btn btn-outline-light align-items-center" href="{% url 'login' %}">
                Login
              </a> &nbsp;
			{% endif %}

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

          </div>
        </div>
      </div>
    </header>
  
    <!--MAIN OF SITE-->
    <main role='main'>
      <section class="jumbotron text-center bg-light">
          <div class="container">
            <h1>Sleep Manager</h1>
            <p class="lead text-muted">With the help of this website you can manage your sleep by just inserting your day to day sleep time with it.After a month you will get all the reports in this site.</p>
            
            <p>
              {% if user.is_authenticated %}
                <small class="text text-dark">Welcome - {{ user.username|title }}</small>
              {% else %}
                <small class="text text-dark">Welcome</small>
              {% endif %}
            </p>
          </div>
      </section>
      
    </main>
   

    <div class="jumbotron text-center">
      <div class='container-fluid text-center'>
        {% block body_head %}
        {% endblock body_head %}
      </div>
    </div>
    
    <div class='container'>
      {% block body_middle %}
      {% endblock body_middle %}
    </div>


    {% block body_foot %}
    {% endblock body_foot %}

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>This Website is ©, but please download and customize it for yourself!</p>
        <p>New to Website? <a href="https://getbootstrap.com/">Help Page</a> or contact with Programmer (About Section).</p>
      </div>
    </footer>
  </body>
</html>


